.create-collection-container {
  background-color: rgba(var(--green-bg), 0.8);
  border-radius: 1em;
  margin: 2em 1em;
  margin-bottom: 1em;
  padding: 1em;
  min-height: 150px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .create-collection-input {
    label {
      font-size: 1.5em;
      font-weight: 500;
      letter-spacing: 0.1em;
    }

    .create-collection-title {
      height: 3em;
      width: 15em;
      border: none;
      border-radius: 0.5em;
      margin-left: 1em;
      text-align: center;
    }

    .create-collection-title:focus {
      outline: 3px solid var(--light-bg);
    }
  }
  
  .collection-button {
    margin-top: 2em;
    font-size: 1em;
  }
}
